/* Reset Browser Defaults */
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --highlight-color-1: #EDEFEE;
  --highlight-color-2: #333333;
  --medium-weight: 500;

  --font-family-serif: 'Markazi Text', 'Times New Roman', Georgia, serif;
  --font-family-sans-serif: 'Karla', Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  font-family: var(--font-family-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
}

h1 {
  color: var(--primary-color-2);
  font-size: 64px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 0.6;
}

h2 {
  color: var(--highlight-color-1);
  font-size: 40px;
  font-weight: normal;
  line-height: 0.9;
}

p {
  font-family: var(--font-family-san-serif);
  color: var(--highlight-color-1);
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
}

.display-title {
  color: var(--highlight-color-2);
}

.section-title {
  font-family: var(--font-family-san-serif);
  color: var(--highlight-color-2);
  font-size: 16px;
  font-weight: 800;
}

.confirmation-copy {
  text-align: left;
}

.error-message {
  font-family: var(--font-family-san-serif);
  color: darkred;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.button {
  margin: 15px 0px;
  border-radius: 16px;
  /* Rounded corners */
  background-color: var(--primary-color-2);
  color: black;
  font-family: var(--font-family-san-serif);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid var(--highlight-color-2);
}

.button:hover {
  color: white;
  background-color: var(--primary-color-1)
}

.button:disabled {
  color: var(--highlight-color-2);
  background-color: var(--highlight-color-1);
}

.button-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

input,
select {
  padding: 5px 10px;
  border-radius: 16px;
  /* Rounded corners */
  background-color: var(--highlight-color-1);
  color: black;
  font-family: var(--font-family-san-serif);
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--highlight-color-2);
}


input:focus,
select:focus {
  outline-color: var(--primary-color-1);
}

input:invalid,
input:focus:invalid,
select:invalid,
select:focus:invalid {
  outline-color: darkred;
  border: 2px solid darkred;
}

/* Header Styles */

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.logo-container {
  grid-column: 3 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo {
  max-width: 150px;
  height: auto;
}

.hamburger {
  display: none;
  justify-content: center;
  align-items: left;
  position: relative;
  background-color: transparent;
  border: none;
}

.navigation {
  grid-column: 5 / -3;
  grid-row: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: var(--font-family-sans-serif);
  font-size: 18px;
  font-weight: bold;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-right: 20px;
}

.navigation a {
  color: var(--hightlight-color-2);
  text-decoration: none;
}

.navigation a:hover {
  color: var(--primary-color-1);
}

/* Main Styles */

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.section,
.hero-section {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.hero-article {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 20px;
}

.hero-background {
  grid-column: 1 / -1;
  grid-row: 1 / span 3;
  background-color: var(--primary-color-1);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.hero-copy {
  grid-column: 3 / span 4;
  margin: 20px 0px;
}

.hero-image {
  grid-column: 8 / span 3;
  grid-row: 1 / -1;
  justify-content: right;
  margin: 20px 0px;
  border-radius: 16px;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.main-article {
  grid-column: 1 / -1;
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  margin: 15px 0px;
  max-width: 250px;
  grid-gap: 15px;
}

/* Footer Styles */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 20px;
  background-color: var(--primary-color-1);
}

.footer-item {
  margin: 0 15px;
}

.footer-logo {
  text-align: center;
  padding: 5px;
  background-color: white;
}

.footer-copyright {
  text-align: center;
}


/* Responsive Breakpoints */

@media (max-width: 1200px) {
  .header {
    grid-template-columns: repeat(8, 1fr);
  }

  .logo-container {
    grid-column: 2 / span 2;
    grid-row: 1 / 2;
  }

  .navigation {
    grid-column: 4 / -2;
  }

  .navigation ul {
    flex-wrap: wrap;
  }

  .main {
    grid-template-columns: repeat(8, 1fr);
  }

  .hero-section {
    grid-template-columns: repeat(8, 1fr);
  }

  .hero-article {
    grid-template-columns: repeat(8, 1fr);
  }

  .hero-background {
    grid-template-columns: repeat(8, 1fr);
  }

  .hero-copy {
    grid-column: 2 / span 3;
    margin: 20px 0px;
    padding: 10px;
  }

  .hero-image {
    grid-column: 5 / span 3;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .header {
/*     grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .logo-container {
    text-align: left;
/*
    grid-column: 2 / 2;
    grid-row: 1;
*/
  }

  .navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
  }

  .navigation.open {
    display: flex;
    margin: 75px 0;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10px;
    gap: 10px;
    text-align: left;
    background-color: white;
  }

  .hamburger {
    grid-column: 1;
    justify-content: left;
    align-items: center;
    display: flex;
    z-index: 1001;
  }

  /* Add click outside logic to close menu */
  .hamburger[isOpen] {
    pointer-events: none;
  }

  .footer {
    z-index: 998 !important;
  }

  .main {
    grid-template-columns: repeat(4, 1fr);
  }

  .hero-section {
    grid-template-columns: repeat(4, 1fr);
  }

  .hero-article {
    grid-template-columns: repeat(4, 1fr);
/*
    grid-gap: 10px;
    padding: 10px;
*/
  }

  .hero-background {
    grid-template-columns: repeat(4, 1fr);
  }

  .hero-copy {
    grid-column: 1 / -1;
  }

  .hero-image {
    grid-column: 1 / -1;
    grid-row: 3 / span 2;
    margin: 0;
    padding: 10px;
    object-fit: cover;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
}